<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Tilemaker example server</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
		#refresh { position: absolute; top: 15px; left: 15px; background-color: white; padding: 5px; 
			border: 1px solid black; font-family: Avenir; cursor: pointer; }
    </style>
</head>
<body>

<div id='map'></div>
<!-- <div id='refresh' onclick='reload()'>Reload</div> -->
<script>
var map;

fetch("/static/metadata.json")
	.then(response => response.json())
	.then(data => {
		var styleURL = '/static/style.json';
		var bounds = data['bounds'];
		map = new maplibregl.Map({
		    container: 'map', // container id
		    style: styleURL, // stylesheet location
		    center: [(bounds[0]+bounds[2])/2,
			         (bounds[1]+bounds[3])/2], // starting position [lng, lat]
		    zoom: 11 // starting zoom
		});
		map.addControl(new maplibregl.NavigationControl());
		map.addControl(new maplibregl.AttributionControl({ compact: false, customAttribution:
			"Style © <a href='http://openmaptiles.org/'>OpenMapTiles</a> | "+
			"Data © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a>" }));

		// -- Comment the following lines out to remove debug UI --
		map.showTileBoundaries=true;
		// -- --

        // When the user moves their mouse over the state-fill layer, we'll update the
// feature state for the feature under the mouse.
var hoveredStateId = null;
map.on('mousemove', 'census-block-empty', function (e) {
if (e.features.length > 0) {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = e.features[0].id;
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: true }
);
}
});
 
// When the mouse leaves the state-fill layer, update the feature state of the
// previously hovered feature.
map.on('mouseleave', 'census-block-empty', function () {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = null;
});

map.on('mousemove', 'census-block-no-fiber', function (e) {
if (e.features.length > 0) {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = e.features[0].id;
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: true }
);
}
});
 
// When the mouse leaves the state-fill layer, update the feature state of the
// previously hovered feature.
map.on('mouseleave', 'census-block-no-fiber', function () {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = null;
});

map.on('mousemove', 'census-block-fiber', function (e) {
if (e.features.length > 0) {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = e.features[0].id;
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: true }
);
}
});
 
// When the mouse leaves the state-fill layer, update the feature state of the
// previously hovered feature.
map.on('mouseleave', 'census-block-fiber', function () {
if (hoveredStateId !== null) {
map.setFeatureState(
{ source: 'openmaptiles', sourceLayer: "census_blocks", id: hoveredStateId },
{ hover: false }
);
}
hoveredStateId = null;
});
	}
)
</script>

</body>
</html>