<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Tilemaker example server</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@1.14.0/dist/maplibre-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/split-grid/dist/split-grid.js"></script>
	<script src='http://mapbox-gl-inspect.lukasmartinelli.ch/dist/mapbox-gl-inspect.min.js'></script>
	<link href='http://mapbox-gl-inspect.lukasmartinelli.ch/dist/mapbox-gl-inspect.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }

		#refresh { position: absolute; top: 15px; left: 15px; background-color: white; padding: 5px; 
			border: 1px solid black; font-family: Avenir; cursor: pointer; }

		.grid {
		    display: grid;
		    grid-template-columns: 1fr 10px 1fr;
		    position:absolute; top:0; bottom:0; width:100%;
		}

		#map {
			width: 100%;
		}

		.gutter-col {
		    grid-row: 1/-1;
		    cursor: col-resize;
		}

		.gutter-col-1 {
		    grid-column: 1;
		}
    </style>
</head>
<body>
<div class="grid">
    <div class="gutter-col gutter-col-1">
    </div>
    <div>
    	Hello
    </div>
    <div id='map'></div>
</div>
<!-- <div id='refresh' onclick='reload()'>Reload</div> -->
<script>
window.Split({
    columnGutters: [{
        track: 1,
        element: document.querySelector('.gutter-col-1'),
    }],
})

var map;

fetch("/static/metadata.json")
	.then(response => response.json())
	.then(data => {
		var styleURL = '/static/style.json';
		var bounds = data['bounds'];
		map = new maplibregl.Map({
		    container: 'map', // container id
		    style: styleURL, // stylesheet location
		    center: [(bounds[0]+bounds[2])/2,
			         (bounds[1]+bounds[3])/2], // starting position [lng, lat]
		    zoom: 11 // starting zoom
		});
		map.addControl(new maplibregl.NavigationControl());
		map.addControl(new maplibregl.AttributionControl({ compact: false, customAttribution:
			"Style © <a href='http://openmaptiles.org/'>OpenMapTiles</a> | "+
			"Data © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a>" }));

		// -- Comment the following lines out to remove debug UI --
		map.showTileBoundaries=true;
		map.addControl(new MapboxInspect({
		  showInspectButton: false,
		  showMapPopup: true,
		  showMapPopupOnHover: false,
		  showInspectMapPopupOnHover: false,
		  popup: new maplibregl.Popup({
		    closeButton: true,
		    closeOnClick: false
		  })
		}));
		// -- --

//         // When the user moves their mouse over the state-fill layer, we'll update the
// // feature state for the feature under the mouse.
	var tiers = ["states", "counties", "tracts", "blocks"];
	let maxZoom = {"states": 1, "counties": 7, "tracts": 11, "blocks": 20};
	var hoveredStateId = {};

	map.once("styledata", function (e) {
		for (let tier of tiers) {
			hoveredStateId[tier] = null;
			let layerDef =     {
		      "id": tier,
		      "type": "fill",
		      "source": "census-" + tier,
		      "source-layer": "us-" + tier + "_" + tier,
		      "maxzoom": maxZoom[tier],
		      "paint": {
		        "fill-color": "#00ff00",
		        "fill-opacity": ["case",
		           ["boolean", ["feature-state", "hover"], false],
		           0.8,
		           0.1]
		      }
		    };
			map.addLayer(layerDef, "waterway_tunnel");


			map.on('mousemove', tier, function (e) {
				if (e.features.length == 0) {
					return;
				}
				if (hoveredStateId[tier] !== null) {
					map.setFeatureState(
						{ source: 'census-' + tier, sourceLayer: "us-" + tier + "_" + tier, id: hoveredStateId[tier] },
						{ hover: false }
						);
				}
				hoveredStateId[tier] = e.features[0].id;
				map.setFeatureState(
					{ source: 'census-' + tier, sourceLayer: "us-" + tier + "_" + tier, id: hoveredStateId[tier] },
					{ hover: true }
				);
			 });
			 
			// When the mouse leaves the state-fill layer, update the feature state of the
			// previously hovered feature.
			map.on('mouseleave', tier, function () {
				if (hoveredStateId[tier] !== null) {
					map.setFeatureState(
						{ source: 'census-' + tier, sourceLayer: "us-" + tier + "_" + tier, id: hoveredStateId[tier] },
						{ hover: false }
					);
					}
				hoveredStateId[tier] = null;
			});
		}
	});


	}
)
</script>

</body>
</html>